<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE4635C21CC72B8900DB248F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4635DB1CC72B8A00DB248F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4635E61CC72B8A00DB248F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
