<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头条</string>
		<key>urlString</key>
		<string>headline/T1348647853363</string>
		<key>replyUrl</key>
		<string>3g_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>NBA</string>
		<key>urlString</key>
		<string>list/T1348649145984</string>
		<key>replyUrl</key>
		<string>sports_nba_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机</string>
		<key>urlString</key>
		<string>list/T1348649654285</string>
		<key>replyUrl</key>
		<string>mobile_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>移动互联</string>
		<key>urlString</key>
		<string>list/T1351233117091</string>
		<key>replyUrl</key>
		<string>mobile_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>urlString</key>
		<string>list/T1348648517839</string>
		<key>replyUrl</key>
		<string>auto_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚</string>
		<key>urlString</key>
		<string>list/T1348650593803</string>
		<key>replyUrl</key>
		<string>lady_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>urlString</key>
		<string>list/T1348648650048</string>
		<key>replyUrl</key>
		<string>ent2_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>urlString</key>
		<string>list/T1348649580692</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
	</dict>
</array>
</plist>
